@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@inject Shyjus.BrowserDetection.IBrowserDetector detector
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1>Używasz @detector.Browser.Name :)</h1>
</div>
